# ignore everything
/*

# files to not ignore
!/.gitignore


!/nvim/
/nvim/.git*
/nvim/plugin/

!/zsh/
/zsh/.antidote/
/zsh/.zsh_plugins.zsh
/zsh/*.zwc
/zsh/.zsh_history
/zsh/.zcompdump

!/lsd

!/sway/

!/flavours/

!/foot/

!/neofetch/

!/ruff/


!/npm/

.DS_Store
