# Base16 {{scheme-name}} - alacritty color config
# {{scheme-author}}
# Template author: Emma Eilefsen Glenna (https://eilefsen.net)
#
# color values are rgb because lsd does not support hex.
# at the end of this file you will find some helpful lines

user: [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}]
group: [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}]
permission:
  read: [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}]
  write: [{{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}]
  exec: [{{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}]
  exec-sticky: [{{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}]
  no-access: [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}]
  octal: [{{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}]
  acl: [{{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}}]
  context: [{{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}}]
date:
  hour-old: [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}]
  day-old: [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}]
  older: [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}]
size:
  none: [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}]
  small: [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}]
  medium: [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}]
  large: [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}]
inode:
  valid: [{{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}]
  invalid: [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}]
links:
  valid: [{{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}]
  invalid: [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}]
tree-edge: [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}]
git-status:
  default: [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}]
  unmodified: [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}]
  ignored: [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}]
  new-in-index: [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}]
  new-in-workdir: [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}]
  typechange: [{{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}]
  deleted: [{{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}]
  renamed: [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}]
  modified: [{{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}]
  conflicted: [{{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}]

### COLORS
#
# [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}]
# [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}]
# [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}]
# [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}]
# [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}]
# [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}]
# [{{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}}]
# [{{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}]
# [{{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}]
# [{{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}]
# [{{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}]
# [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}]
# [{{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}}]
# [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}]
# [{{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}]
# [{{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}]
