# Base16 {{scheme-name}} - alacritty color config
# {{scheme-author}}

user: base04
group: base03
permission:
  read: base0b
  write: base0a
  exec: base08
  exec-sticky: base0f
  no-access: base02
  octal: base0f
  acl: base0c
  context: base0c
date:
  hour-old: base0b
  day-old: base0b
  older: base0b
size:
  none: base02
  small: base03
  medium: base04
  large: base04
inode:
  valid: base0e
  invalid: base02
links:
  valid: base0e
  invalid: base02
tree-edge: base03
git-status:
  default: base03
  unmodified: base03
  ignored: base03
  new-in-index: base0b
  new-in-workdir: base0b
  typechange: base0a
  deleted: base08
  renamed: base0b
  modified: base0a
  conflicted: base08

