# Base16 {{scheme-name}} - wezterm color config
# Scheme by {{scheme-author}}

[colors]
foreground    = "#{{base05-hex}}"
background    = "#{{base00-hex}}"
cursor_bg     = "#{{base05-hex}}"
cursor_border = "#{{base05-hex}}"
cursor_fg     = "#{{base00-hex}}"
selection_bg  = "#{{base02-hex}}"
#selection_fg  = "#{{base05-hex}}"

scrollbar_thumb = "#{{base04-hex}}"
split           = "#{{base03-hex}}"
compose_cursor  = "#{{base09-hex}}"

#copy_mode_active_highlight_bg   = { Color = '#{{base02-hex}}' }
#copy_mode_active_highlight_fg   = { Color = '#{{base05-hex}}' }
#copy_mode_inactive_highlight_bg = { Color = '#{{base02-hex}}' }
#copy_mode_inactive_highlight_fg = { Color = '#{{base04-hex}}' }

#quick_select_label_bg = { Color = '#{{base02-hex}})' },
#quick_select_label_fg = { Color = '#{{base05-hex}}' },
#quick_select_match_bg = { Color = '#{{base02-hex}}' },
#quick_select_match_fg = { Color = '#{{base04-hex}}' },

ansi = [
  "#{{base00-hex}}",
  "#{{base08-hex}}",
  "#{{base0B-hex}}",
  "#{{base0A-hex}}",
  "#{{base0D-hex}}",
  "#{{base0E-hex}}",
  "#{{base0C-hex}}",
  "#{{base05-hex}}"
]

brights = [
  "#{{base03-hex}}",
  "#{{base08-hex}}",
  "#{{base0B-hex}}",
  "#{{base0A-hex}}",
  "#{{base0D-hex}}",
  "#{{base0E-hex}}",
  "#{{base0C-hex}}",
  "#{{base07-hex}}"
]

[colors.tab_bar]
background = "#{{base00-hex}}"

[colors.tab_bar.active_tab]
bg_color    = "#{{base02-hex}}"
fg_color    = "#{{base05-hex}}"
intensity   = "Normal"
underline   = "None"
italic      = true
strikethrough = false

[colors.tab_bar.inactive_tab]
bg_color    = "#{{base01-hex}}"
fg_color    = "#{{base04-hex}}"
intensity   = "Normal"
underline   = "None"
italic      = true
strikethrough = false

[colors.tab_bar.inactive_tab_hover]
bg_color    = "#{{base01-hex}}"
fg_color    = "#{{base05-hex}}"
intensity   = "Normal"
underline   = "None"
italic      = true
strikethrough = false

[colors.tab_bar.new_tab]
bg_color    = "#{{base01-hex}}"
fg_color    = "#{{base04-hex}}"
intensity   = "Normal"
underline   = "None"
italic      = true
strikethrough = false

[colors.tab_bar.new_tab_hover]
bg_color    = "#{{base01-hex}}"
fg_color    = "#{{base05-hex}}"
intensity   = "Normal"
underline   = "None"
italic      = true
strikethrough = false
